{% extends 'closet/Base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    Closet
{% endblock %}

{% block closet_name %}
    我的衣櫃
{% endblock %}

{% block header_right %}
    <a href="{% url 'create_clothe' %}">
        <img class="icon" src="{% static 'images/icon-svg/add_white.png' %}">
    </a>
{% endblock %}

{% block head_bar_title %}
    單品
{% endblock %}

{% block head_bar_left %}
    <a href="{% url 'my_products' %}">
        <img src="{% static 'images/icon-svg/management.png' %}" class="titlee33">
    </a>
{% endblock %}

{% block head_bar_right %}
    <a href="{% url 'outfit' pk=user.id %}">
        <div class="titlee2">>>穿搭</div>
    </a>
{% endblock %}

{% block content %}
    <a href="{% url 'single_type_clothes' typePk=2 %}">
        {% if t_shirts %}
        <img src="{{ t_shirts.last.image.url }}" class="block1">
        {% else %}
        <img src="{% static 'images/26.jpg' %}" class="block1">
        {% endif %}
            <div class="word1">T-Shirt</div>
        </img>
    </a>

    <a href="{% url 'single_type_clothes' typePk=1 %}">
        {% if shirts %}
        <img src="{{ shirts.last.image.url }}" class="block2">
        {% else %}
        <img src="{% static 'images/20.jpeg' %}" class="block2">
        {% endif %}
            <div class="word2">襯衫</div>
        </img>
    </a>

    <a href="{% url 'single_type_clothes' typePk=4 %}">
        {% if shorts %}
        <img src="{{ shorts.last.image.url }}" class="block3">
        {% else %}
        <img src="{% static 'images/32.jfif' %}" class="block3">
        {% endif %}
            <div class="word3">短褲</div>
        </img>
    </a>

    <a href="{% url 'single_type_clothes' typePk=3 %}">
        {% if pants %}
        <img src="{{ pants.last.image.url }}" class="block4">
        {% else %}
        <img src="{% static 'images/28.jpg' %}" class="block4">
        {% endif %}
            <div class="word4">長褲</div>
        </img>
    </a>

    <a href="{% url 'single_type_clothes' typePk=5 %}">
        {% if skirts %}
        <img src="{{ skirts.last.image.url }}" class="block5">
        {% else %}
        <img src="{% static 'images/24.jpeg' %}" class="block5">
        {% endif %}
            <div class="word5">裙子</div>
        </img>
    </a>

    <a href="{% url 'single_type_clothes' typePk=6 %}">
        {% if dresses %}
        <img src="{{ dresses.last.image.url }}" class="block6">
        {% else %}
        <img src="{% static 'images/27.jpg' %}" class="block6">
        {% endif %}
            <div class="word6">洋裝</div>
        </img>
    </a>

    <a href="{% url 'single_type_clothes' typePk=7 %}">
        {% if shoes %}
        <img src="{{ shoes.last.image.url }}" class="block7">
        {% else %}
        <img src="{% static 'images/1234.jpeg' %}" class="block7">
        {% endif %}
            <div class="word7">鞋子</div>
        </img>
    </a>
{% endblock %}
