{% load static %}

<html> 

    <head>
        <title> TELApathy Forgot Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>

        <form>
           <div class="content-title">
            
            <body bgcolor="#C4B2BC">
            <img src="{% static 'images/TELApathy logo2.png ' %}" width="400" height="200">

                <div class="login-form">
                    <form class="pure-form pure-form-stacked">
                      <fieldset>
                
                        <legend>Forgot Password</legend>
                        <label for="email">輸入原帳號E-mail*</label>
                        <input id="email" type="email" placeholder="Email" >
                        <button type="submit" class="pure-button-primary">寄出驗證信</button>
                
                      </fieldset>
                    </form>

                </div>
           </div>
        </form>
    
    </body>

</html>

