{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
            <title>個人設定</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="containerrr">
          <a href="{% url 'settings' %}">
            <img src="{% static 'images/icon-svg/profile_selected.png' %}" class="icon3_left">
          </a>

          <a href="{% url 'clothes' %}">
          <img src="{% static 'images/icon-svg/closet1.png' %}" class="icon2_left">
          </a>

          <a href="{% url 'outfits' %}">
          <img src="{% static 'images/icon-svg/social media.png' %}" class="icon22_left">
          </a>

          <a href="{% url 'products' %}">
          <img src="{% static 'images/icon-svg/store.png' %}" class="icon1_left">
          </a>

        <div class="purplewords">
        {{ user.name }} </div>
        <a href="{% url 'logout' %}"><div class="purplewords1">登出</div></a>
        <img src="{{ user.profile_picture.url }}" class="stats__img-holder1" >
        <hr class="aaa" size="3px" width="100%" color="gray">

        <a href="{% url 'carts' %}"><img src="{% static 'images/icon-svg/shopping-cart.png' %}" class="up" >
        <div class="buycart">購物車</div></a>

        <a href="{% url 'transaction_logs' %}"><img src="{% static 'images/icon-svg/files.png' %}" class="up1" >
        <div class="listm">購買記錄</div></a>

        <a href="{% url 'my_products' %}"><img src="{% static 'images/icon-svg/management.png' %}" class="up2" >
        <div class="listg">商品管理</div></a>

        <a href="{% url 'my_wallet' %}"><img src="{% static 'images/icon-svg/women-purse.png' %}" class="up3" >
        <div class="mypurse">我的錢包</div></a>
        <hr class="aab" size="3px" width="100%" color="gray">

        <div class="purplewords2">
        <a href ="{% url 'edit_user' user.id %}">修改基本資料</a>
        <br>
        <br>
        <a href="{% url 'set_my_wallet' %}">錢包設定</a></div>

    </body>
</html>
