{% extends 'closet/Base.html' %}
{% load static %}

{% block title %}
    穿搭推薦
{% endblock %}

{% block h1 %}
    穿搭推薦 
{% endblock %}

{% block content %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="used_clothes" value="{{ used_clothes }}" />
                <button type="submit" class="refresh">下一組穿搭</button>
            </form>
            
            <img src="{{ clothe.image.url }}" class="goods_pic">
            
            <div style="margin-top: 10px; padding-top: 20px;"> <hr size="2px" color= "#d9d9d9" width="100%"> </div>    

        </div>
        <div class="goods_detail">
            <button type="value" name="type" class="goods_label">{{ clothe.type }}</button>
            <button type="value" name="color" class="goods_label">{{ clothe.color }}</button>
            <button type="value" name="style" class="goods_label">{{ clothe.style }}</button>
            <button type="value" name="company" class="goods_label">{{ clothe.company }}</button>
            <button type="value" name="isFormal" class="goods_label">{% if clothe.is_formal %}正式{% else %}休閒{% endif %}</button>

            <div class="imageList">
                <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 {% if recommends %}
                    {% for item in recommends %}
                        <button>
                            <a href="{% url 'single_clothe' item.id %}">
                            <img src="{{ item.image.url }}" style="width:20rem; height: 25rem;">
                            </a>
                        </button>
                    {% endfor %}
                {% else %}
                    <h2>目前沒有推薦的穿搭了</h1>
                {% endif %}
                <br> <br>
            </div>

            <div style="margin-top: 10px;"> <hr size="2px" color= "#d9d9d9" width="100%"> </div> 

        </div>
{% endblock %}
