{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
              <title>Remake the Outfit</title>
              <link rel="stylesheet" href="{% static 'css/style.css' %}">
      </head>
    
    <body>
        <div class="containerrr">
            <div class="mycloset">
                復刻穿搭
            </div>
            
            <button class="tabs__btn" onclick="window.location.href='/clothes'">
                <a href="{% url 'posts' %}">
                <img class="icon" src="{% static 'images/icon-svg/arrow_left.png' %}"> 
                </a>
            </button> 

            <img src="{% static 'images/icon-svg/refresh.png' %}" class="icon3">

        </div>
    
        <section class="main">
            <div class="addOutfit_left-col">
                <div class="post">
                    <div class="info">
                        <div class="user">
                            
                            <div class="profile-pic"> <img src="{% static 'images/selfie.jpg' %}" alt=""> </div>
                            <p class="username" style="color: rgba(148,122,136,1);">{{ post.user.username }}</p>
                        </div>
                     </div>
                     <form>
                     <div class="post-image">

                        <form action="" enctype="multipart/form-data" method="">
                            <div class="post_camera_icon">

                                    <img id="photo" class="post-image" style="z-index: 1;" src="{{ post.image.url }}"/>
                                    
                                    <div style="position: absolute; left: 675px; top: 475px; width: 150px; height: 90px; border:2px solid whitesmoke; color: transparent; z-index:1000; "></div>
                                    <div style="position: absolute; left: 700px; top: 600px; width: 150px; height: 90px; border:2px solid whitesmoke; color: transparent; z-index:1000; "></div>
                                    <div style="position: absolute; left: 550px; top: 890px; width: 270px; height: 75px; border:2px solid whitesmoke; color: transparent; z-index:1000; "></div>

                                    <input id="photo" type="file" accept="image/*" class="remake_fileInput"  multiple=""/>
                
                            </div>
                
                            <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
                            <script>
                                    
                                    $('input').on('change', function(e){      
                                        const file = this.files[0];
                                        const objectURL = URL.createObjectURL(file);
                                        $("#photo").attr("src", objectURL);
                                    });
                                        
                            </script>
                
                        </form>
                    </div>
                    
                    <div >
                        <div style="padding-bottom: 25px;"></div>
                        
                            <input type="text" class="remake_clothes_font" value="復刻單品" style="background-color:#f3f3f3; border:0; width: 90%; text-align: left;" />  

                        <hr size="1px" color= "#e6e6e6" width="100%"> 


                    </div>

                    <div>


                        <a href="BrowseMyOutfit.html">
                            <div> <img src="{% static 'images/30.jfif' %}" class="remake_clothes_block1"> </div>
                        </a>
                        
                        <hr size="1px" color= "#e6e6e6" width="100%"> 

                        <a href="BrowseMyOutfit.html">
                            <div> <img src="{% static 'images/32.jfif' %}" class="remake_clothes_block2"> </div>
                        </a>

                        <a href="BrowseMyOutfit.html">
                            <div> <img src="{% static 'images/shoes1.webp' %}" class="remake_clothes_block3"> </div>
                        </a>

                        <a href="BrowseMyOutfit.html">
                            <div> <img src="{% static 'images/icon-svg/add.png' %}" class="remake_clothes_block4"> </div>
                        </a>

                        <a href="BrowseMyOutfit.html">
                            <div> <img src="{% static 'images/icon-svg/add.png' %}" class="remake_clothes_block5"> </div>
                        </a>
                        
                        <br>


                    </div>
                    </form>


                </div>
                
            </div>
        
        </section>


    </body>


</html>