{% extends 'community/Base.html' %}

{% load static %}

{% block title %}
    {% if post.title %}
        {{ post.title }}
    {% else %}
        貼文留言
    {% endif %}        
{% endblock %}

{% block h1 %}
    {% if post.title %}
        {{ post.title }}
    {% else %}
        貼文留言
    {% endif %}
{% endblock %}

{% block content %}
    <section class="main">
        <div class="left-col">
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"> <img src="{{ user.profile_picture.url }}" alt=""> </div>
                        <p class="username">{{ user.name }}</p>
                    </div>
                    
                    <img class="goods_icon2" src="{% static 'images/icon-svg/more.png' %}" id="show"> 
                    <dialog id="infoModal" class="selection_edit_delete_clothes">
                        <form action="{% url 'outfits' %}" method="post"> {% csrf_token %}
                            <input type="hidden" value="{{ post.id }}" name="post_id">
                            <input type="hidden" value="1" name="followed">
                            <button type="submit">
                                <p><h3>收藏穿搭</h3></p>
                            </button>
                        </form>
                        <hr color="gainsboro"  width="100%"> 
                        <a href="" id="close"><p><h3>取消</h3></p></a>
                        </button>
                    </dialog>
                    <script>
                        let img=document.querySelector("#show");
                        let infoModal=document.querySelector("#infoModal");
                        let close=document.querySelector("#close");
                        img.addEventListener("click", function(){
                            infoModal.showModal();
                        })
                        close.addEventListener("click", function(){
                            infoModal.close();
                        })
                    </script>                     </div>

                <div class="post-content">
                    <span class="likes">{{ post.likes.count }} likes</span><br>
                    <span class="content_username">{{ post.user }}</span>
                    <span class="content_copy">{{ post.content }}</span>
                    <span class="post-time">{{ post.datetime }}</span>
                </div>
                                    
                <div class="comment-wrapper">
                    {% for comment in post.comments.all %}
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{{ comment.user.profile_picture.url }}" style="left: 15px; width: 3rem;"alt=""></div>
                        </div>
                        <div class="username1">{{ comment.user.name }}</div>
                        <div class="post-words">{{ comment.text }}</div>
                    </div>
                    {% endfor %}
                    
                </div>
                
                <div class="comment-wrapper">
                    <form action="" method="post"> {% csrf_token %}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <img src="{{ user.profile_picture.url }}" class="profile-pic" style="left: 15px; width: 3rem;" alt="">
                        <input type="text" name="comment" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </form>
                </div>
                <br>
            </div>
        </div>

    </section>
{% endblock %}                    