{% extends 'community/Base.html' %}
{% load static %}

{% block title %}
    我的穿搭
{% endblock %}

{% block h1 %}
    我的穿搭
{% endblock %}

{% block content %}
    <div style=" display: flex; flex-wrap: wrap;">
        {% for post in posts %}
            <a href="{% url 'outfit' pk=post.id %}">
                <img src="{{ post.image.url }}" class="outfit_block"></a>
            <span class="outfit_word">
                {{ post.title }}
            </span>
        {% endfor %}
    </div>
{% endblock %}
