{% extends 'market/Base.html' %}
{% load static %}

{% block title %}
    購物車
{% endblock %}

{% block h1 %}
    購物車
{% endblock %}

{% block content %}
    <form method="get" id="cart-form" action="{% url 'cart_to_transaction' %}">
    <div class="shopping_cart1">
        <input type="checkbox" name="buy" class="shopping_cart1_checkbox" checked>
        <p class="shopping_cart_username">{{ user.username }}</p>
            <img src="{{ user.profile_picture.url }}" class="shopping_cart_profile-pic" alt="">

            <table class="shopping_cart_content">
                {% for cart in carts %}
                    <tr>
                        <td><input id="buy{{ cart.id }}" type="checkbox" name="buy" value="{{ cart.id }}" class="shopping_cart_content_checkbox"></td>
                        <td><img src="{{ cart.post.product.image.url }}" class="shopping_cart_pic"></td>
                        <td class="shopping_cart_goods_name">{{ cart.post.title }}</td>
                        <td class="shopping_cart_price">
                            NT$ <span id="amount{{ cart.id }}">{{ cart.post.amount }}</span>
                        </td>
                        <td>
                            <input type="hidden" id="shopping_cart_id" value="{{ cart.id }}" />
                            <img src="{% static 'images/icon-svg/trash_can.png' %}" id="cart_delete{{ cart.id }}" class="shopping_cart_trash">
                        </td>
                    </tr>
                {% endfor %}
            </table>
    </div>

    <script>
    $('#ShoppingCart tr:not(.totalColumn) input:text').bind('keyup change', function() {
    var $table = $(this).closest('table');
    var total = 0;
    var thisNumber = $(this).attr('class').match(/(\d+)/)[1];

    $table.find('tr:not(.totalColumn) .sum'+thisNumber).each(function() {
        total += +$(this).val();
    });

    $table.find('.totalColumn td:nth-child('+thisNumber+') input').val(total);
    });
    </script>

        <div style="margin-top: 210px; padding-top: 30px;"> <hr size="2px" color= "#d9d9d9" width="100%"> </div>
        <div style="margin-top: 40px; ">
            <span class="shopping_cart_balance">總金額$ </span>
            <span id="total_amount" class="shopping_cart_balance">0</span>
            <button id="submit" class="shopping_cart_submit" > <div class="shopping_cart_submit_font">下一步</div></button>
        </div>
    </form>
        <div style="padding-top: 80px;"> </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        submitBtn = document.getElementById('submit');
        function submitform(e) {
            var form = $('#cart-form');
            checkedVals = $('.shopping_cart_content_checkbox:checkbox:checked').map(function() {
                return this.value;
            }).get();
            selected_carts = checkedVals.join(',');
            $('<input type="hidden" name="selected_carts" />')
                .attr('value', selected_carts)
                .appendTo('#cart-form');
            form.submit();
        };
        submitBtn.addEventListener('click', submitform);
    </script>
    {% for cart in carts %}
        <script>
            $('#cart_delete{{ cart.id }}').click(
                function(){
                    var url = '{% url "cart_delete" cart.id %}';
                    var csrf = '{% csrf_token %}'.match(/<input type="hidden" name="csrfmiddlewaretoken" value="([a-zA-Z0-9]*)"/)[1];
                    var cart_id = '{{ cart.id }}';
                    if (confirm("是否刪除購物車？") == true){
                        $.post(url, {csrfmiddlewaretoken: csrf, id: cart_id});
                    };
                    $(document).ready(function(){
                        location.reload(true);
                    });
                }
            )
        </script>

        <script>
            let checkbox{{ cart.id }} = $('#buy{{ cart.id }}');
            checkbox{{ cart.id }}.change(
                function() {
                    var total_amount_span = $('#total_amount')
                    var total_amount = parseInt(total_amount_span.text());
                    var cart_amount = parseInt($('#amount{{ cart.id }}').text());
                    checkbox{{ cart.id }}[0].checked ? total_amount += cart_amount : total_amount -= cart_amount;
                    total_amount_span.text(total_amount);
                }
            );
        </script>
    {% endfor %}
{% endblock %}
