{% extends 'market/Base.html' %}
{% load static %}

{% block title %}
    我的商品
{% endblock %}

{% block h1 %}
    我的商品
{% endblock %}

{% block content %}
    <div class="container_search">
        <span class="container_search_icon"><img src="{% static 'images/icon-svg/search.png' %}" style="width: 2rem;"></span>
        <form action="" method="get">
            <input type="search" id="search" placeholder="Search..." />

            <button type="submit">
            <img src="{% static 'images/icon-svg/search submit.png' %}" class="search_submit">
            </button>
        </form>
    </div>
    {% for post in posts %}
        <div class="buybox">
            <a href="{% url 'my_product' post.id %}">
                <div class="goodword">{{ post.title }}</div>
                <img src="{{ post.product.image.url }}" class="pic1">
            </a>
            {% if post.is_sold %}
                <img src="{% static 'images/sold.png' %}" class="addcart"></a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
