{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
            <title>Manage Goods</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div class="containerrr">
            <div class="mycloset">
                商品管理
            </div>
            <button class="tabs__btn">
                <a href="{% url 'clothes' %}">
                <img class="icon" src="{% static 'images/icon-svg/arrow_left.png' %}">
                </a>
            </button>

            <a href="{% url 'carts' %}">
            <img src="{% static 'images/shopping-cart.png' %}" class="icon2">
            </a>

            <a href="{% url 'products' %}">
            <img src="{% static 'images/icon-svg/store.png' %}" class="icon3">
            </a>

            <div class="container_search">
                <span class="container_search_icon"><img src="{% static 'images/icon-svg/search.png' %}" style="width: 2rem;"></span>
                <input type="search" id="search" placeholder="Search..." />
        </div>
            {% for post in posts %}
                <div class="buybox">
                    <a href="{% url 'my_product' post.id %}">
                        <div class="goodword">{{ post.title }}</div>
                        <img src="{{ post.product.image.url }}" class="pic1">
                    </a>
                    {% if post.is_sold %}
                        <img src="{% static 'images/sold.png' %}" class="addcart"></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    <body>
<html>
