{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
      {{ form.errors }}
      <img class="logo" src="{% static 'image/smalllogo.png' %}" alt="logo">

      <div class="signup_page">
        <div id="container1"> <!-- 要改成2-->

          <div class="signup">

            <h3>註冊帳號</h3>

            <form action="{% url 'register' %}" method="post">{% csrf_token %}
              <input type="text" id="username" name="username" placeholder="帳號" required>
              <div class="tab"></div>
              <input type="text" id="email" name="email" placeholder="信箱" required>
              <div class="tab"></div>
              <input type="text" id="phone" name="phone" placeholder="手機" required>
              <div class="tab"></div>
              <input type="text" id="nickname" name="nickname" placeholder="暱稱" required>
              <div class="tab"></div>
              <input type="password" id="password1" name="password1" placeholder="密碼" required>
              <div class="tab"></div>
              <input type="password" id="password2" name="password2" placeholder="確認密碼" required>
              <div class="tab"></div>
              <input type="submit" value="註冊" class="submit">
              <h5 onclick="show_hide()"><a href="{% url 'login' %}">返回</a></h5>
            </form>

          </div><!-- signup end-->
        </div><!-- container2 end-->
      </div><!-- signup_page end-->
    </body>


</html>
