{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
              <title>My Wallet</title>
              <link rel="stylesheet" href="{% static 'css/style.css' %}">
      </head>

    <body>
        <div class="containerrr">
            <div class="mycloset">
                我的錢包
            </div>

            <a href="{% url 'settings' %}">
                <img class="icon" src="{% static 'images/icon-svg/arrow_left.png' %}">
            </a>

            <button class="tabs__btn">
                <a href="{% url 'set_my_wallet' %}">
                <img src="{% static 'images/icon-svg/gear.png' %}" class="icon3">
                </a>
            </button>
        </div>

        <div class="myWallet_title1">錢包餘額</div>

            <div class="balance_title" style="top: 250px;">$
                <span class="balance_title">{{ wallet.balance }}</span>
            </div>


        <div style="margin-top: 290px; padding-top: 30px;"> <hr size="1px" color= "#d9d9d9" width="100%">
        </div>

        <div class="myWallet_title2"> 提款 <br>
            <form>
            <input type="text" placeholder="輸入金額 $" name="withdraw_account" class="withdraw_input"><br>
            <button id="submit" class="withdraw_submit" > <span class="withdraw_submit_font">新增銀行帳號 </span></button>

            </form>
            <div style="margin-top: 150px; padding-top: 30px;"> <hr size="1px" color= "#d9d9d9" width="100%">
            </div>
        </div>

        <div class="myWallet_title3"> 交易紀錄 <br>
            <table class="transaction_record">
                <tr>
                    <th style="font-weight: bold; font-size: 18px;">日期</th>
                    <th style="font-weight: bold; font-size: 18px;">紀錄</th>
                    <th style="font-weight: bold; font-size: 18px;">金額</th>
                </tr>
                <tr>
                    <td>2022/06/09</td>
                    <td>訂單款項</td>
                    <td>+NT$580</td>
                </tr>
                <tr>
                    <tr>
                    <td>2022/05/28</td>
                    <td>訂單款項</td>
                    <td>+NT$400</td>
                </tr>
                    <td>2022/05/26</td>
                    <td>提款</td>
                    <td>-NT$2520</td>
                </tr>
                <tr>
                    <td>2022/05/23</td>
                    <td>訂單款項</td>
                    <td>+NT$720</td>
                </tr>
                <tr>
                    <td>2022/05/18</td>
                    <td>訂單款項</td>
                    <td>+NT$380</td>
                </tr>
                <tr>
                    <td>2022/05/14</td>
                    <td>訂單款項</td>
                    <td>+NT$1020</td>
                </tr>
                <tr>
                    <td>2022/05/08</td>
                    <td>訂單款項</td>
                    <td>+NT$400</td>
                </tr>
            </table>

        </div>

        <div style="margin-top: 310px; padding-top: 30px;">
        </div>
    </body>

</html>
