{% extends 'market/Base.html' %}
{% load static %}

{% block title %}
    {% if post.title %}
        {{ post.title }}
    {% else %}
        我的商品
    {% endif %}
{% endblock %}

{% block h1 %}
    {% if post.title %}
        {{ post.title }}
    {% else %}
        我的商品
    {% endif %}
{% endblock %}

{% block content %}
        <div class="wallet_title1">銀行帳號</div>
        <div>
            {% for account in bankaccounts %}
                <div class="account_title">{{ account.bank.name }} {{ account.bank.code }}</div>
                <div class="account_number">{{ account.account }}</div>
                <div class="account_name">{{ account.accountName }}</div>
            {% endfor %}
        </div>

        <div style="margin-top: 280px; padding-top: 60px;"> <hr size="1px" color= "#d9d9d9" width="100%">
        </div>

        <div>
            <div class="wallet_title2">新增銀行帳號 + </div>

            <form action="" method="post">
                {% csrf_token %}
                <div class="add_account_title1">帳號用戶名: </div>
                <input name="accountName" type="text" style=" border-radius: 5px; position: absolute; left: 13%; top: 68%; width:75%; height:50px; border-color: #c0c0c0; color: #957a89; background-color: #f5f5f5; font-size: 25px;" ><br>

                <div class="add_account_title2">手機號碼: </div>
                <input name="phone" type="text" style="border-radius: 5px; position: absolute; left: 13%; top: 80%; width:75%; height:50px; border-color: #c0c0c0; color: #957a89; background-color: #f5f5f5; font-size: 25px;"><br>

                <div class="add_account_title3">銀行代碼: </div>
                <select name="bank" class="sttyle" style="border-radius: 5px; left: 13%; top: 93%; width: 75%; position: absolute; border:1px rgb(199, 199, 199) solid; font-size: 20px;">
                    {% for bank in banks %}
                        <option value="{{ bank.id }}">{{ bank.name }}{{ bank.code }}</option>
                    {% endfor %}
                </select><br>

                <div class="add_account_title4">銀行帳號: </div>
                <input name="account" type="text" style="border-radius: 5px; position: absolute; left: 13%; top: 106%; width:75%; height:50px; border-color: #c0c0c0; color: #957a89; color:#957a89; background-color: #f5f5f5; font-size: 25px;"><br>

                <button id="submit" class="new_account_submit" > <div class="new_account_submit_font">新增銀行帳號 </div></button>

            </form>

        </div>

        <div style="margin-top: 500px; padding-top: 60px;"> <hr size="1px" color= "#d9d9d9" width="100%">
        </div>
{% endblock %}
